// Main colors
$white: #fff;
$black: #242424;
$black2: #242222;
$grey: #CACAC9;
$dark-grey: #2f2e2d;
$color1: rgba(88, 75, 83, 1);
$gradient-black: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);

// Color Scheme 1
$orange-web: rgba(255, 164, 0, 1);
$carolina-blue: rgba(0, 159, 253, 1);
$st-patricks-blue: rgba(42, 42, 114, 1);
$raisin-black: rgba(35, 37, 40, 1);
$alice-blue: rgba(234, 246, 255, 1);

//// Color Scheme 2
$queen-blue: #33658aff;
$dark-sky-blue: #86bbd8ff;
$moss-green: #758e4fff;
$honey-yellow: #f6ae2dff;
$safety-orange-blaze-orange: #f26419ff;

////// Color Scheme 3
$aquamarine: rgba(165, 255, 214, 1);
$middle-grey: rgba(129, 127, 117, 1);
$gray-x-11-gray: rgba(179, 181, 187, 1);
$columbia-blue: rgba(197, 217, 226, 1);
$celeste: #77ffef;

///* Color Scheme 4 */
$melon: rgba(243, 179, 166, 1);
$rosy-brown: rgba(185, 139, 130, 1);
$mauvelous: rgba(228, 149, 158, 1);
$charcoal: rgba(55, 81, 95, 1);
$xiketic: rgba(31, 8, 18, 1);

/* Color Scheme 5 */
$desert-sand: rgba(236, 200, 175, 1);
$melon: rgba(231, 173, 153, 1);
$new-york-pink: rgba(206, 121, 107, 1);
$persian-orange: rgba(193, 140, 93, 1);
$black-coral: rgba(73, 88, 103, 1);

// Font Sizes
$font3rem: 3rem;
$font1-6rem: 1.6rem;
$font1-2rem: 1.2rem;

// Media Sizes
$Large: 1320px;
// $Medium: 1080px;
$Medium: 950px;
$Small: 800px;
$Smallest: 600px;

@media screen and (max-width: $Medium) {
  $font3rem: 2.25rem;
  $font1-6rem: 1.2rem;
  $font1-2rem: 0.9rem;
}




// Gradient Scheme 1
//$gradient-top: linear-gradient(0deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-right: linear-gradient(90deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-bottom: linear-gradient(180deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-left: linear-gradient(270deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-top-right: linear-gradient(45deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-bottom-right: linear-gradient(135deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-top-left: linear-gradient(225deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-bottom-left: linear-gradient(315deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
//$gradient-radial: radial-gradient(#ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);

// Gradient Scheme 2
//$gradient-top: linear-gradient(0deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-right: linear-gradient(90deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-bottom: linear-gradient(180deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-left: linear-gradient(270deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-top-right: linear-gradient(45deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-bottom-right: linear-gradient(135deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-top-left: linear-gradient(225deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-bottom-left: linear-gradient(315deg, #33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);
//$gradient-radial: radial-gradient(#33658aff, #86bbd8ff, #758e4fff, #f6ae2dff, #f26419ff);


//Gradient Scheme 3
//#817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-right: linear-gradient(90deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-bottom: linear-gradient(180deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-left: linear-gradient(270deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-top-right: linear-gradient(45deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-bottom-right: linear-gradient(135deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-top-left: linear-gradient(225deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-bottom-left: linear-gradient(315deg, #a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);
//$gradient-radial: radial-gradient(#a5ffd6ff, #817f75ff, #b3b5bbff, #c5d9e2ff, #cdfff9ff);

//Gradient Scheme 4
//$gradient-top: linear-gradient(0deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-right: linear-gradient(90deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-bottom: linear-gradient(180deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-left: linear-gradient(270deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-top-right: linear-gradient(45deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-bottom-right: linear-gradient(135deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-top-left: linear-gradient(225deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-bottom-left: linear-gradient(315deg, #ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);
//$gradient-radial: radial-gradient(#ecc8afff, #e7ad99ff, #ce796bff, #c18c5dff, #495867ff);

//Gradient Scheme 5
//$gradient-top: linear-gradient(0deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-right: linear-gradient(90deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-bottom: linear-gradient(180deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-left: linear-gradient(270deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-top-right: linear-gradient(45deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-bottom-right: linear-gradient(135deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-top-left: linear-gradient(225deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-bottom-left: linear-gradient(315deg, #f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);
//$gradient-radial: radial-gradient(#f3b3a6ff, #b98b82ff, #e4959eff, #37515fff, #1f0812ff);