.about-page {
    background-color: #242424;
    padding: 2rem;
}

.about-page h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.img-1 {
    border-radius: 50%;
    margin: auto;
}

#about p {
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 2;
}

.about-skills h3 {
    font-size: 3rem;
    margin: 2rem;
}

.skills-list {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 4rem;
}