@import './vars';

.portfolio {
    background-color: $black;
    text-align: center;
    padding: 2rem;

    section {
        &:first-child {
            max-width: 1000px;
        }
        margin: auto;

        div.pro-project {
                img {
                    max-width: 400px;
                    max-height: 400px;
                    transform: scale(1);
                    transition: transform 0.5s ease;
    
                    &:hover {
                        transform: scale(1.04);
                        transition: transform 0.5s ease;
                    }
                }

                p {
                    color: $alice-blue;
                }

                .p {
                    color: $melon;
                }
    
                h3 {
                    margin-top: 2rem;
                    color: $carolina-blue;
                }

                div.skills-list {
                    display: flex;
                    justify-content: center;
                    justify-content: space-around;
                    i {
                        color: $alice-blue;
                        font-size: 3rem;
                    }
                }
        }

        div.personal-project {
            max-width: 1200px;
            margin: auto;
            img {
                max-width: 500px;
                max-height: 500px;
                margin: 5px;
                border-radius: 4px;
            }
        }
    }
    


}