@import './vars';

.h1 {
    font-size: 3rem;
    margin-bottom: .6rem;
}
  
.h2 {
    font-size: 2.4rem;
    margin-bottom: .6rem;
}
  
.h3 {
    font-size: 2rem;
}

.h4 {
    font-size: 1.6rem;
}

.p-large {
    font-size: 1.4rem;
}

.p {
    font-size: 1.2rem;
}

.hidden {
    display: none;
    overflow: hidden;
    transition: height 0.6s ease, padding 0.6s ease;
}

.container {
    text-align: center;
    background-color: #242424;
    padding: 2rem 5px;
}


.fill {
    width: 100%;
    height: 100vh;
    background-color: #242424;
    padding: 2rem;
}
  
.narrow {
    max-width: 1080px;
    margin: auto;
}

.block {
    display: block;
}
  
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}
  
.grid {
    display: grid;
}
  
.no-pad {
    padding: 0;
}
  
.pad-2 {
    padding: 2rem;
}
  
.pad-s-2 {
    padding: 0 2.2rem;
}
  
.pad-b-2 {
    padding-bottom: 2rem;
}
  
.pad-u-2 {
    padding-top: 2rem;
}
  
.margin-auto {
    margin: auto;
}

.margin-top {
    margin-top: 2rem;
}

.margin-top-large {
    margin-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-bottom-large {
    margin-bottom: 4rem;
}
  
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.top-line {
    border-top: 2px $alice-blue solid;
    width: 4rem;
    margin: 2rem auto;
}

.bottom-line {
    border-bottom: 2px $alice-blue solid;
    width: 4rem;
    margin: 2rem auto;
}

.top-line-large {
    border-top: 2px $alice-blue solid;
    max-width: 1000px;
    margin: 2rem auto;
}

.bottom-line-large {
    border-top: 2px $alice-blue solid;
    max-width: 1000px;
    margin: 2rem auto;
}

@media screen and (max-width: $Large) {
    .top-line-large {
        max-width: 80%;
    }
    
    .bottom-line-large {
        max-width: 80%;
    }
}